@use "global" as *;

.c-btn-contact {
  color: $white;
  background-color: $yellow;
  font-size: rem(18);
  font-weight: $bold;
  letter-spacing: 0.2em;
  text-align: center;
  padding: rem(6) rem(38);
  border-radius: rem(60);
  transition: all 0.3s ease-out 0s;
  border: rem(2) solid $yellow;
}

.c-btn {
  width: rem(280);
  max-width: 100%;
  padding: rem(19);
  color: $sub-color;
  border: rem(2) solid $sub-color;
  background-color: $white;
  border-radius: rem(60);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $en-font-family02;
  transition: all 0.3s ease-out 0s;
}

.c-btn--small {
  @include mq(md) {
    width: rem(255);
  }
}

@media (hover: hover) {
  .c-btn-contact:hover {
    color: $yellow;
    background-color: $white;
  }
  .c-btn:hover {
    color: $white;
    background-color: $sub-color;
  }
}
