@use "global" as *;
.p-business__items {
  margin-top: rem(36);
  width: rem(800);
  max-width: 100%;
  margin-inline: auto;
  @include mq(md) {
    margin-top: rem(16);
    width: 100%;
  }
}
.p-business__list-row {
  display: grid;
  grid-template-columns: rem(196) 1fr;
  gap: 0;
  @include mq(md) {
    // flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
}

.p-business__list-title {
  padding-inline: rem(10);
  padding-block: rem(24) rem(32);
  border-bottom: rem(2) solid $sub-color;
  @include mq(md) {
    border-bottom: none;
    padding-block: rem(24) 0;
  }
}

.p-business__list-description {
  padding-block: rem(24) rem(32);
  padding-inline: rem(26);
  border-bottom: rem(2) solid $border;
  @include mq(md) {
    padding-block: rem(4) rem(24);
    padding-inline: rem(10);
  }
}
