@use "global" as *;

.p-contact-mv {
  padding-block: rem(238) rem(7);
  overflow: hidden;
  @include mq(md) {
    padding-block: rem(177) 0;
  }
}

.p-contact-mv__inner {
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    flex-direction: column;
  }
}

.p-contact-mv__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin-left: rem(60);
  @include mq(md) {
    margin-left: 0;
    margin-right: auto;
  }
}

.p-contact-mv__title--center {
  margin-inline: auto;
  text-align: center;
  max-width: fit-content;
  margin-top: rem(-80);
}

.p-contact-mv__title-deco {
  position: absolute;
  top: rem(-58);
  left: rem(-31);
  @include mq(md) {
    top: rem(-53);
    left: rem(-7);
  }
}
.p-contact-mv__title-en {
  font-size: rem(16);
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 1;
  color: $sub-color;
  font-family: $en-font-family02;
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(14);
  }
}

.p-contact-mv__title-en--contact,
.p-contact-mv__title-ja--contact {
  opacity: 0;
  @include mq(md) {
    opacity: 1;
  }
}

.p-contact-mv__title-ja {
  font-size: rem(44);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1;
  @include mq(md) {
    font-size: rem(32);
    font-weight: 700;
  }
}

.p-contact-mv__img {
  padding-top: rem(69);
  position: relative;
  @include mq(md) {
    padding-top: rem(87);
    width: rem(140);
    margin-left: auto;
  }
}
.p-contact-mv__img img {
  width: rem(195);
  @include mq(md) {
    width: rem(140);
    margin-left: auto;
  }
}

.p-contact-mv__bg-title {
  position: absolute;
  left: rem(-200);
  top: rem(-40);
  z-index: -1;
  @include mq(md) {
    top: rem(20);
    left: rem(-50);
  }
}
