@use "global" as *;

/* p-company-lead  */
.p-company-lead {
    padding-block: rem(120);
    background: radial-gradient(43.13% 58.4% at 50% 49.94%, rgba(12, 197, 255, 0.18) 0%, rgba(12, 197, 255, 0.10) 47.5%, rgba(12, 197, 255, 0.00) 100%);

    @include mq(md) {
        padding-block: rem(52) rem(72);
    }
}

.p-company-lead__title {
    text-align: center;

    @include mq(md) {
        text-align: left;
    }
}

.p-company-lead__title span {
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: rem(10) rem(37) rem(12) rem(54);
    background: $text;
    color: $white;
    font-size: rem(34);
    font-weight: 600;
    letter-spacing: 1.7px;

    @include mq(md) {
        line-height: 2.38;
        padding: rem(5) rem(5) rem(7) rem(7);
        font-size: rem(21);
        letter-spacing: 1.05px;
    }
}

.p-company-lead__text {
    margin-top: rem(40);
    font-size: rem(18);
    font-weight: 700;
    line-height: 2.222;
    letter-spacing: 0.9px;
    text-align: center;

    @include mq(md) {
        text-align: left;
        font-size: rem(15);
        line-height: 2.333;
        margin-top: rem(18);
    }
}

/* p-company-message */
.p-company-message {
    padding-block: rem(120);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: $sub-background;
        width: calc(1000 / 1440)*100%;
        height: rem(476);
        top: 0;
        left: 0;
        z-index: -1;

        @include mq(md) {
            height: rem(248);
            width: 100%;
        }
    }

    @include mq(md) {
        padding-block: rem(64) rem(80);
    }
}

.p-company-message__body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: calc(100 / 1000)*100%;

    @include mq(inner) {
        gap: rem(60);
    }

    @include mq('lg') {
        gap: rem(40);
    }

    @include mq(md) {
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }
}

.p-company-message__box {
    max-width: rem(387);


    @include mq(md) {
        max-width: 100%;
    }
}

.p-company-message__img {
    display: block;
    max-width: rem(387);
    margin-top: rem(74);

    @include mq(md) {
        max-width: calc(207 / 310)*100%;
        margin-top: rem(26);
        margin-inline: auto;
    }
}

.p-company-message__img img {
    object-fit: contain;
}

.p-company-message__content {
    max-width: rem(692);
    padding: rem(48) rem(40) rem(40);
    border-radius: 12px;
    background: $white;
    box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.15);

    @include mq(md) {
        max-width: 100%;
        margin-top: rem(42);
        padding: rem(23) rem(20) rem(32);
    }

    @include mq('sm') {
        padding-inline: rem(16);
    }
}

.p-company-message__head {
    font-size: rem(24);
    letter-spacing: 1.2px;
    padding-bottom: rem(14);
    border-bottom: 1px solid $gray;

    @include mq(md) {
        font-size: rem(16);
        padding-bottom: rem(16);
    }
}

.p-company-message__text {
    margin-top: rem(24);
    letter-spacing: .32px;
    font-weight: 500;

    @include mq(md) {
        margin-top: rem(15);
        font-size: rem(14);
        font-weight: 400;
        line-height: 1.85714;
    }
}

.p-company-message__signature {
    margin-top: rem(29);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(20);

    @include mq(md) {
        margin-top: rem(16);
        gap: rem(9);
    }
}

.p-company-message__signature dt {
    font-size: rem(18);
    line-height: 2.111;
    letter-spacing: 0.9px;

    @include mq(md) {
        font-size: rem(13);
        letter-spacing: 0.65px;
    }
}

.p-company-message__signature dd {
    font-family: $sub-font-family;
    font-size: rem(36);
    font-weight: 400;
    letter-spacing: 1.8px;

    @include mq(md) {
        font-size: rem(26);
        letter-spacing: 1.3px;
    }
}