@use "global" as *;

.p-news-mv {
  padding-block: rem(171) rem(7);
  overflow: hidden;
  @include mq(md) {
    padding-block: rem(137) 0;
  }
}

.p-news-mv__inner {
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    flex-direction: column;
  }
}

.p-news-mv__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  @include mq(md) {
    gap: rem(10);
  }
}

.p-news-mv__title-deco {
  position: absolute;
  top: rem(-72);
  left: rem(-60);
  @include mq(xl) {
    left: rem(-8);
  }
  @include mq(md) {
    top: rem(-66);
  }
}

.p-news-mv__label {
  max-width: fit-content;
}

.p-news-mv__date {
  font-size: rem(16);
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 1;
  color: $sub-color;
  font-family: $en-font-family02;

  @include mq(md) {
    font-size: rem(12);
  }
}

.p-news-mv__title-ja {
  font-size: rem(28);
  font-weight: 700;
  line-height: 1.4;
  @include mq(md) {
    font-size: rem(20);
  }
}
