@use "global" as *;

/* p-recruit-welcome */
.p-recruit-welcome {
    margin-top: rem(120);
    padding-block: rem(97) rem(103);

    @include mq(md) {
        margin-top: rem(48);
        padding-block: 0 rem(64);
    }
}

.p-recruit-welcome__inner {
    max-width: rem(1440);
    margin-inline: auto;

    @include mq(md) {
        max-width: rem(700);
        margin-inline: auto;
        padding-inline: 0;
    }
}


.p-recruit-welcome__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(111 / 1440)*100%;
    padding-left: rem(75);

    @include mq(inner) {
        padding-left: rem(30);
        gap: rem(30);
    }

    @include mq(md) {
        padding-left: 0;
        gap: rem(97);
        flex-direction: column-reverse;
    }

}

.p-recruit-welcome__img {
    flex-shrink: 0;
    width: rem(423);
    max-width: 100%;
    z-index: 2;
    position: relative;

    @include mq(inner) {
        width: rem(300);
    }

    @include mq(md) {
        width: 100%;
    }
}

.p-recruit-welcome__img img {
    object-fit: contain;
}

.p-recruit-welcome__box {
    background: $sub-background;
    padding: rem(97) rem(127) rem(103) 0;
    border-radius: 0 12px 12px 0;
    width: rem(813);
    max-width: 100%;
    position: relative;

    @include mq(inner) {
        padding: rem(80) rem(40) rem(90) 0;
    }

    @include mq(md) {
        padding: 0 rem(32);
        background: transparent;
        width: 100%;

    }

    &::before {
        content: "";
        position: absolute;
        background: $sub-background;
        height: 100%;
        top: 0;
        left: rem(-324);
        width: rem(324);
        border-radius: 12px 0 0 12px;
        z-index: -1;

        @include mq(inner) {
            left: rem(-120);
            width: rem(120);
        }

        @include mq(md) {
            width: calc((304 / 375) * 100vw);
            left: auto;
            right: 0;
            top: auto;
            bottom: rem(-33);
            border-radius: 0;
            height: 97%;
        }

    }
}

.p-recruit-welcome__heading {
    text-align: left;
}

.p-recruit-welcome__heading-ja {
    background: linear-gradient(295deg, #0946F2 28.46%, #118EFB 85.14%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: rem(34);
    font-weight: 600;
    letter-spacing: 1.7px;

    @include mq(inner) {
        font-size: rem(30);
    }

    @include mq(md) {
        font-size: rem(20);
    }
}

.p-recruit-welcome__text {
    margin-top: rem(42);
    font-size: rem(18);
    font-weight: 500;
    line-height: 2.1111;
    letter-spacing: 0.9px;

    @include mq(md) {
        font-size: rem(15);
        line-height: 2;
    }
}

.p-recruit-welcome__text p:not(:first-child) {
    margin-top: rem(30);

    @include mq(md) {
        margin-top: 0;
    }
}

/* p-recruit-interview  */
.p-recruit-interview {
    padding-bottom: rem(120);

    @include mq(md) {
        padding-bottom: rem(80);
    }
}

.p-recruit-interview__heading {
    text-align: left;

    @include mq(md) {
        text-align: center;
    }
}



.p-recruit-interview__lists-deco {
    margin-top: rem(66);
    position: relative;

    @include mq(md) {
        margin-top: rem(42);
    }

    &::after {
        content: "";
        position: absolute;
        background: linear-gradient(91deg, #315CD7 16.67%, #118EFB 38.22%, #0ABCF5 59.31%);
        width: 100%;
        height: rem(218);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: -1;
    }
}

.p-recruit-interview__lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(90 / 1200)*100%;

    @include mq(inner) {
        gap: rem(30)
    }

    @include mq(md) {
        grid-template-columns: repeat(1, 1fr);
        gap: rem(40)
    }
}

.p-recruit-interview__list {
    padding: rem(65) rem(40);
    border-radius: 12px;
    background: $white;
    box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.15);

    @include mq(md) {
        padding: rem(34) rem(18);
    }
}

.p-recruit-interview__head-wrapper {
    display: flex;
    align-items: center;
    gap: rem(37);

    @include mq(md) {
        flex-direction: column;
        gap: rem(10);
        align-items: flex-start;
    }
}

.p-recruit-interview__head {
    display: flex;
    align-items: center;
    gap: rem(16);
    flex-shrink: 0;
}

.p-recruit-interview__head span {
    color: $white;
    background: $main-color;
    padding: rem(1) rem(5);
    font-size: rem(19);
    letter-spacing: 0.95px;

    @include mq(md) {
        font-size: rem(15);
    }
}

.p-recruit-interview__name {
    letter-spacing: 1.2px;
    font-size: rem(24);

    @include mq(md) {
        font-size: rem(18);
    }
}

.p-recruit-interview__line {
    width: 100%;
    height: 1.5px;
    background: $gray;
}

.p-recruit-interview__items {
    margin-top: rem(50);

    @include mq(md) {
        margin-top: rem(24);
    }
}

.p-recruit-interview__item {
    margin-top: rem(28);

    @include mq(md) {
        margin-top: rem(24);
    }
}

.p-recruit-interview__lead {
    color: $white;
    background: $main-color;
    padding: rem(1) rem(8);
    font-size: rem(18);
    letter-spacing: 0.95px;
    display: inline-block;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    @include mq(md) {
        font-size: rem(15);
    }
}

.p-recruit-interview__text {
    margin-top: rem(15);
    line-height: 2;
    letter-spacing: 0.8px;

    @include mq(md) {
        font-size: rem(14);
        line-height: 1.85;
        font-weight: 400;
    }
}