@use "global" as *;

.l-page110 {
    padding-top: rem(110);
    padding-bottom: rem(118);

    @include mq(md) {
        padding-top: rem(30);
        padding-bottom: rem(47);
    }
}

.l-page--120 {
    padding-block: rem(120);

    @include mq(md) {
        padding-block: rem(40) rem(56);
    }
}